body {
    background-color: rgb(1, 38, 59);
}

h2 {
    color: green;
}

h2:hover {
    border-left: 2px white solid;
}
h3 {
    color: rgb(148, 168, 136);
}
section h2 {
    border-bottom: 1px solid gray;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
}

.subtitle {
    font-weight: bold;
}

.subtitle-value {
    color: gray;
}